.Rhistory
.RData
.Ruserdata
.Rproj.user/*
src/*.o
src/*.so
src/*.dll
*.rds
!article_results/bixi/data/results_jan26/*.rds
!article_results/bixi/data/splits/*.rds
*.Rdata
article_results/movielens/data/saved_models/IMR_fit
/article_results/movielens/.ipynb_checkpoints
article_results/movielens/data/checkpoint
article_results/movielens/data/model_c_0_.ckpt.data-00000-of-00001
article_results/movielens/data/model_c_0_.ckpt.index
article_results/movielens/data/model_c_0_.ckpt.meta
.Rproj.user
