.Rhistory
*.RData
.Ruserdata
.Rproj.user/*
src/*.o
src/*.so
src/*.dll
*.rds
!article_results/bixi/data/results_jan26/*.rds
!article_results/bixi/data/splits/*.rds
!article_results/bixi/data/bktrfit*.rds
!article/simulation/data/*.rds
!article/movielens/data/*.Rdata
!article/movielens/data/*.rds
!article/Bixi/data/bktr_fits/*.rds
!article/Bixi/data/splits2/*.rds
!article/Bixi/data/final_results/*.rds
article_results/movielens/data/saved_models/IMR_fit
/article_results/movielens/.ipynb_checkpoints
article_results/movielens/data/checkpoint
article_results/movielens/data/model_c_0_.ckpt.data-00000-of-00001
article_results/movielens/data/model_c_0_.ckpt.index
article_results/movielens/data/model_c_0_.ckpt.meta
.Rproj.user
article/Miniconda3-latest-MacOSX-x86_64.sh
inst/doc
/doc/
/Meta/
